﻿@using Microsoft.AspNetCore.Components
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject AppState appState

<AuthorizeView Context="AuthorizeContext">
    <Authorized>
        <MatTooltip Tooltip="Log out">
            <div class="welcome-text">Hello, @AuthorizeContext.User.Identity.Name!</div>
            @*Your Guid : @MainLayout.LoggedinUser.UserGuid;
            You Subscription Count : @subscriptioncount*@
            <MatIconButton Icon="exit_to_app" RefBack="@context" OnClick="LogoutClick"></MatIconButton>
        </MatTooltip>
    </Authorized>
    <NotAuthorized>
        <MatTooltip Tooltip="Login">
            <MatIconButton Icon="account_box" RefBack="@context" Link="@Constants.LoginPath"></MatIconButton>
        </MatTooltip>
    </NotAuthorized>
</AuthorizeView>

@code {  
    async Task LogoutClick()
    {
        //appState.ClearUserProfile();
        await (authStateProvider).Logout();
        navigationManager.NavigateTo(Constants.HomePath, forceLoad: true);

    } }
