﻿@page "/admin/RoleMapping"
@layout AdminLayout
@attribute [Authorize(Roles = DefaultRoleNames.Administrator)]
@inject AppState appState
@inject CustomStateProvider SessionState
@inject HttpClient Http
@inject IMatToaster matToaster
@inject NavigationManager navigationManager


<h3>RoleMapping</h3>
<EditForm Model="@ProductRoleMappingView">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset>
        <div class="form-group" >
            <MatSelect Outlined="true" Label="Role Name" ValueExpression="@(()=>ProductRoleMappingView.RoleName)" ValueChanged="(string i) => OnChangeLoadRole(i)">
                @foreach (var role in Roles)
                {
                    <MatOptionString Value="@role.Value.ToString()">@role.Key.ToString()</MatOptionString>
                }
            </MatSelect>
            <ValidationMessage For="@(() => ProductRoleMappingView.RoleName)" />
        </div>

        <div class="form-group">
            <MatSelect Outlined="true" Label="Product Name" ValueExpression="@(() => ProdutName)" ValueChanged="(string i)=>OnChangeLoadGrid(i)">
                <MatOptionString Value="-1">All</MatOptionString>
                @foreach (var pn in productNames)
                {
                    <MatOptionString Value="@pn.ToString()">@pn.ToString()</MatOptionString>
                }
            </MatSelect>
            @*<ValidationMessage For="@(() => ProductRoleMappingView.RoleName)" />*@
        </div>

        <div class="form-group">
            <MatButton Class="btn btn-themecolor secondbutton" OnClick="@SaveProductRoleMappingByRole">Save</MatButton>
        </div>
    </fieldset>
</EditForm>
@if (ProductRoleMappingView.lstProductRoleMapping == null)
{
    <text>Loading...</text>
}
else if (ProductRoleMappingView.lstProductRoleMapping.Count == 0)
{
    <text>No Records Found.</text> }
else
{
    <table class="table table-striped">
        <thead>
            <tr>

                <th>Role Name</th>
                <th>Product Name</th>
                <th>Report Name</th>
                <th>IsAssigned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductRoleMappingList prm in ProductRoleMappingView.lstProductRoleMapping)
            {
                <tr>
                    <td>@prm.RoleName</td>
                    <td>@prm.ProductName</td>
                    <td>@prm.ReportName</td>
                    <td>
                        <MatCheckbox @bind-Value="@prm.IsAssigned" class="filled-in chk-col-blue"></MatCheckbox>
                    </td>
                </tr>
            }

        </tbody>
    </table>}

@code {
    IdentityRole[] roles { get; set; }
    ProductRoleMappingView ProductRoleMappingView { get; set; } = new ProductRoleMappingView();
    Dictionary<string, int> Roles { get; set; } = new Dictionary<string, int>();
    List<ClientSubscription> cs = new List<ClientSubscription>();
    List<string> productNames { get; set; } = new List<string>();
    public string selectedRole;
    public string ProdutName { get; set; }

    public async Task OnChangeLoadRole(string value)
    {
        ProductRoleMappingView.lstProductRoleMapping = new List<ProductRoleMappingList>();
        selectedRole = value;
        await LoadProductByClientID(@MainLayout.LoggedinUser.ClientId.GetValueOrDefault());
    }

    public async Task OnChangeLoadGrid(string value)
    {
        ProductRoleMappingView.lstProductRoleMapping = new List<ProductRoleMappingList>();
        await LoadRoleDetails(Convert.ToInt32(selectedRole), value);
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Roles = new Dictionary<string, int>();
            ProductRoleMappingView.lstProductRoleMapping = new List<ProductRoleMappingList>();
            roles = await Http.GetFromJsonAsync<IdentityRole[]>("api/users/GetRoles");
            roles = roles.Where(r => r.Name != "SuperAdmin" && r.Name != "Administrator").ToArray();
            foreach (IdentityRole role in roles)
            {
                Roles.Add(role.Name, Convert.ToInt32(role.Id));
            }

        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, "Operation Failed");
        }
    }

    public async Task LoadProductByClientID(int ClientID)
    {
        cs = new List<ClientSubscription>();
        productNames = new List<string>();

        cs = await Http.GetFromJsonAsync<List<ClientSubscription>>($"api/Subscription/CheckActiveSubscriptionByClientID?ClientID=" + ClientID);
        foreach (var item in cs)
        {
            productNames.Add(item.ProductName);
        }
    }

    public async Task LoadRoleDetails(int Id, string productName)
    {
        ProductRoleMappingView.lstProductRoleMapping = new List<ProductRoleMappingList>();
        ProductRoleMappingView.lstProductRoleMapping = await Http.GetFromJsonAsync<List<ProductRoleMappingList>>($"api/ProductRoleMapping/GetProductRoleMappingByRole?RoleId=" + Id);

        if (productName != "-1")
            ProductRoleMappingView.lstProductRoleMapping = ProductRoleMappingView.lstProductRoleMapping.Where(p => p.ProductName == productName).ToList();
    }

    public async Task SaveProductRoleMappingByRole()
    {
        var response = await Http.PostAsJsonAsync("api/ProductRoleMapping/SaveProductRoleMappingByRole", ProductRoleMappingView.lstProductRoleMapping);

        matToaster.Add("Product and Dashboard assigned successfully for the role :- " + selectedRole, MatToastType.Success);

        await OnInitializedAsync();
    }
}
