﻿@page "/admin/roles"
@layout AdminLayout
@attribute [Authorize(Roles = DefaultRoleNames.Administrator)]
@inject AppState appState
@inject CustomStateProvider SessionState
@inject HttpClient Http
@inject IMatToaster matToaster
@inject NavigationManager navigationManager
<h3>Roles</h3>
<div class="form-group">
    <a class="btn btn-success" @onclick="@(() => OpenCreateorEditDialog(0))"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>

@if (roles == null)
{
    <text>Loading...</text> }
else if (roles.Length == 0)
{
    <text>No Records Found.</text> }
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (IdentityRole dev in roles)
            {
                if (dev.Name != "SuperAdmin" && dev.Name != "Administrator")
                {
                    <tr>
                        <td>@dev.Id</td>
                        <td>@dev.Name</td>
                        <td>
                            @if (dev.Name != "Administrator" && dev.Name != "User")
                            {
                                <a class="btn btn-success" @onclick="@(() => OpenCreateorEditDialog(Convert.ToInt32(dev.Id)))">Edit</a>
                                <button class="btn btn-danger" @onclick="@(() => OpenDeleteRoleDialog(Convert.ToInt32(dev.Id)))">Delete</button>
                            }
                            @*<button class="btn btn-danger" @onclick="@(() => OpenDeleteDeveloperDialog(dev.Id))">Delete</button>*@
                        </td>
                          
                    </tr>
                }
            }

        </tbody>
    </table>}

<MatDialog @bind-IsOpen="@isCreateorEditDialogOpen">
    <MatDialogTitle>New Role</MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@currentrole">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <fieldset>
                <div class="form-group">
                    <MatTextField @bind-Value="@currentrole.Name" Label="Role Name" Icon="description" IconTrailing="true" FullWidth="true"></MatTextField>
                    <ValidationMessage For="@(() => currentrole.Name)" />
                </div>
                @*<div class="form-group">
                        <MatTextField @bind-Value="@currentclient.Email" Label="Client Email" Icon="email" IconTrailing="true" FullWidth="true"></MatTextField>
                        <ValidationMessage For="@(() => currentclient.Email)" />
                    </div>*@
            </fieldset>
        </EditForm>
        <hr />
        @*<div style="color:red;">@currentstatus</div>*@
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Class="btn btn-themecolor" OnClick="@(e => { isCreateorEditDialogOpen = false; })">Cancel</MatButton>
        <MatButton Class="btn btn-themecolor secondbutton" OnClick="@SaveRole">Save</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@isDeleteDialogOpen" Style="z-index:100">
    <MatDialogTitle><MatIcon Icon="warning"></MatIcon>Confirm Delete</MatDialogTitle>
    <MatDialogContent>
        @string.Format("Are you sure you want to delete {0}?", RoleDeletedId)
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { isDeleteDialogOpen = false; })">Cancel</MatButton>
        <MatButton OnClick="@(() => DoDelete())">Delete</MatButton>
    </MatDialogActions>
</MatDialog>
@code {IdentityRole[] roles { get; set; }
    IdentityRole currentrole { get; set; } = new IdentityRole();
    IdentityRole[] lstRoles { get; set; }
    bool isCreateorEditDialogOpen = false;
    bool isDeleteDialogOpen = false;
    int RoleDeletedId = 0;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            roles = await Http.GetFromJsonAsync<IdentityRole[]>("api/users/GetRoles");
            lstRoles = await Http.GetFromJsonAsync<IdentityRole[]>("api/users/GetRoles");
            //matToaster.Add(roles.Length.ToString() + " records found", MatToastType.Success, "Operation Successful");
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, "Operation Failed");
        }
    }
    void OpenCreateorEditDialog(int RoleId)
    {
        if (RoleId > 0)
        {
            //clients = await Http.GetFromJsonAsync<Client[]>("api/subscription/GetClient");
            currentrole = lstRoles.ToList().Where(p => p.Id == RoleId.ToString()).FirstOrDefault();
        }
        else
        {
            currentrole = new IdentityRole();
            currentrole.Id = "0";
        }
        isCreateorEditDialogOpen = true;
    }
    void OpenDeleteRoleDialog(int RoleId)
    {
        RoleDeletedId = RoleId;
        isDeleteDialogOpen = true;
    }
    async Task DoDelete()
    {
        isDeleteDialogOpen = false;
        await Delete(RoleDeletedId);
    }
    async Task Delete(int roleid)
    {
        try
        {
            var currentrole = roles.FirstOrDefault(x => x.Id == roleid.ToString());
            var response = await Http.PostAsJsonAsync("api/users/DeleteRole", currentrole);
            matToaster.Add("Deleted", MatToastType.Success, "Operation Successful");
            await Task.Delay(1);
            matToaster.Dispose();
            await OnInitializedAsync();
            //if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {dev.FirstName}'s ({dev.Id}) Record?"))
            //{
            //    await client.DeleteAsync($"api/developer/{developerId}");
            //    await OnInitializedAsync();
            //}
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, "Operation Failed");
        }
    }
    async Task SaveRole()
    {
        if (string.IsNullOrEmpty(currentrole.Name))
        {
            matToaster.Add("Please Enter Role Name", MatToastType.Danger, "Role");
            return;
        }

        IdentityRole existingrole = null;
        if (currentrole.Id.ToString() == "0")
        {
            existingrole = lstRoles.ToList().Where(p => p.Name == currentrole.Name).FirstOrDefault();
        }
        if (existingrole == null)
        {

            var response = await Http.PostAsJsonAsync("api/users/SaveRole", currentrole);
            //HttpResponseMessage response = Http.PostAsJsonAsync("api/subscription/SaveClient", currentclient).Result;  // Blocking call!
            //matToaster.Add("Updated", MatToastType.Success, "Operation Successful");
            await OnInitializedAsync();
            this.StateHasChanged();
            isCreateorEditDialogOpen = false;
        }
        else
        {
            matToaster.Add("Same Role is Exist", MatToastType.Danger, "Error");
            return;
        }
    }
}
