﻿@page "/changepassword"
@layout MainLayout
@inject HttpClient client
@inject IMatToaster matToaster
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@attribute [Authorize]

    <h3>Change Password</h3>

    <EditForm Model="@changePasswordModel" OnValidSubmit="@OnSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="col-md-6">
                Your Guid : @MainLayout.LoggedinUser.UserGuid
                <div class="form-group">
                    <MatTextField @bind-Value="@changePasswordModel.CurrentPassword" Label="Old Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
                </div>

                <div class="form-group">
                    <MatTextField @bind-Value="@changePasswordModel.NewPassword" Label="New Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
                </div>

                <div class="form-group">
                    <MatTextField @bind-Value="@changePasswordModel.ConfirmNewPassword" Label="Confirm Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
                </div>

                <div class="form-group d-flex justify-content-end">
                    <MatButton Type="submit" Raised="true">Save</MatButton>
                </div>
            </div>
        </div>
    </EditForm>

    @code {
        ChangePasswordModel changePasswordModel = new ChangePasswordModel();

        async Task OnSubmit()
        {
            try
            {
                changePasswordModel.UserName = @MainLayout.LoggedinUser.UserName;
                var response = await client.PostAsJsonAsync("api/users/ChangePassword", changePasswordModel);
                string message = await response.Content.ReadAsStringAsync();
                if (message == "Password updation failed")
                {
                    matToaster.Add("Change Password function Failed.", MatToastType.Danger);
                }
                else
                {
                    matToaster.Add("Change Password function successful.", MatToastType.Success);
                }
            }
            catch (Exception ex)
            {
                matToaster.Add(ex.Message, MatToastType.Danger, "Change Password function Faild");
            }
        }
    }
