﻿@page "/admin/users/edit/{UserID:int}"
@layout AdminLayout
@inject HttpClient client
@inject IMatToaster matToaster
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@using System.Net.Mail;
@attribute [Authorize(Roles = "Administrator,SuperAdmin")]

<EditForm Model="@userViewModel" OnValidSubmit="@OnSubmit">
    @*OnValidSubmit="@OnSubmit">*@
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset>


        <div class="row">
            <div class="col-md-6">
                @if (AdminLayout.IsSuperAdmin)
                {
                    <div class="form-group">
                        @*<MatSelectItem @bind-Value="@registerViewModel.ClientName" Items="@Clients" Label="Select Client Name"></MatSelectItem>*@
                        @*<MatSelect Outlined="true" Label="Client" ValueExpression="@(()=>@registerViewModel.ClientName)"
                                       Value="@registerViewModel.ClientName"
                                       ValueChanged="@((string value) => OnValueChanged(value ))">
                                <MatOptionString Value="-1">Select Client</MatOptionString>
                                @foreach (var cl in Clients)
                                {
                                    <MatOptionString Value="@cl.ToString()">@cl.ToString()</MatOptionString>
                                }
                            </MatSelect>
                            <span>@selectedValue</span>*@


                        <MatSelect Outlined="true" Label="ClientName" @bind-Value="@ClientName">
                            <MatOptionString Value="-1">All</MatOptionString>
                            @foreach (var cat in Clients)
                                {
                                <MatOptionString Value="@cat.ToString()">@cat.ToString()</MatOptionString>
                                }
                        </MatSelect>
                        <span>@selectedValue</span>
                    </div>
                }
                <div class="form-group">
                    <MatTextField @bind-Value="@userViewModel.FirstName" Label="First Name" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@userViewModel.LastName" Label="Last Name" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@userViewModel.UserName" Label="UserName" Icon="person" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                    <ValidationMessage For="@(() => userViewModel.UserName)" />

                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@userViewModel.Email" Label="Email" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                @*<div class="form-group">
                        <MatTextField @bind-Value="@userViewModel.Password" Label="Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
                    </div>
                    <div class="form-group">
                        <MatTextField @bind-Value="@userViewModel.PasswordConfirm" Label="Password Confirmation" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
                    </div>*@
                <div class="form-group">

                    @foreach (RolesByUserIDModel role in rolesByUserID)
                    {
                        @if (role.RoleName != "SuperAdmin" && role.RoleName != "Administrator")
                        {
                            <MatCheckbox @bind-Value="@role.IsAssigned" class="filled-in chk-col-blue">@role.RoleName</MatCheckbox>
                        }
                    }

                    @*<MatSelectItem @bind-Value="@registerViewModel.RoleName" Items="@Roles" Label="Select Role Name"></MatSelectItem>
                        <ValidationMessage For="@(() => registerViewModel.RoleName)" />*@
                </div>
                <div class="form-group d-flex justify-content-end">
                    <MatButton Type="submit" Raised="true">Register</MatButton>
                </div>
            </div>
        </div>

        <hr />
        @*<NavLink href="login">
                <h6 class="font-weight-normal text-center">Already have an account? Click here to login</h6>
            </NavLink>*@
    </fieldset>
</EditForm>

@code {
    [Parameter] public int UserID { get; set; }
    List<RolesByUserIDModel> rolesByUserID { get; set; } = new List<RolesByUserIDModel>();
    UserViewModel userViewModel { get; set; } = new UserViewModel();
    //List<string> Roles { get; set; } = new List<string>();
    public List<string> Clients { get; set; } = new List<string>();
    public Client[] lstClients { get; set; }
    public string selectedValue;
    public int ClientId { get; set; }
    public string ClientName { get; set; }

    protected void OnChangeCategory(string value)
    {
        //do something
        //selectedValue = "Selected Value: " + value;
        userViewModel.ClientName = value;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            lstClients = await client.GetFromJsonAsync<Client[]>("api/subscription/GetClients");
            Clients = lstClients.Select(p => p.Name).ToList();

            userViewModel = await client.GetFromJsonAsync<UserViewModel>("api/users/GetUserByUserID?userID=" + UserID);
            rolesByUserID = await client.GetFromJsonAsync<List<RolesByUserIDModel>>("api/users/GetRolesByUserID?userID=" + UserID);
            ClientName = userViewModel.ClientName;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, "Operation Failed");
        }
    }

    async Task OnSubmit()
    {
        try
        {
            @if (AdminLayout.IsSuperAdmin)
            {
                var res = lstClients.Where(p => p.Name == userViewModel.ClientName).FirstOrDefault();
                ClientId = res.Id;    // If logged in user is Super Admin then get the SEelcted Client Id
            }
            else
            {
                ClientId = Convert.ToInt32(((CurrentUser)(await authStateProvider.GetCurrentUser())).ClientId); // if client admin is logged in then select its Clientid as Default Client id
            }

            var DomainEmail = lstClients.Where(p => p.Id == ClientId).FirstOrDefault().Email;

            userViewModel.Email = DomainEmail;
            userViewModel.rolesByUserIDModels = rolesByUserID;
            if (!string.IsNullOrEmpty(userViewModel.Email))
            {
                MailAddress address = new MailAddress(userViewModel.Email);
                string clientdomain = address.Host; // host contains yahoo.com if string is xyz@yahoo.com
                address = new MailAddress(userViewModel.Email);
                string userdomain = address.Host; // host contains yahoo.com
                address = null;
                if (clientdomain != userdomain)
                {
                    matToaster.Add("User Email address Domain is not matching with Client Domain", MatToastType.Danger, "Registration Faild");
                    return;
                }
            }

            userViewModel.UserID = UserID;
            userViewModel.ClientId = ClientId;
            var response = await client.PostAsJsonAsync("api/users/UpdateUser", userViewModel);
            string message = await response.Content.ReadAsStringAsync();
            navigationManager.NavigateTo("/admin/users/" + message + "/" + userViewModel.UserName);
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}
