﻿@page "/myprofile"
@layout MainLayout
@inject HttpClient client
@inject IMatToaster matToaster
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@attribute [Authorize]


<h3>My Profile</h3>

<EditForm Model="@userViewModel" OnValidSubmit="@OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset>


        <div class="row">
            <div class="col-md-6">
                @*<div class="form-group">
                        <MatTextField @bind-Value="@userViewModel.ClientName" Disabled="true" Label="Email" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                    </div>*@
                <div class="form-group">
                    <MatTextField @bind-Value="@userViewModel.FirstName" Label="First Name" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@userViewModel.LastName" Label="Last Name" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@userViewModel.UserName" Label="UserName" Icon="person" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                    <ValidationMessage For="@(() => userViewModel.UserName)" />

                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@userViewModel.Email" Disabled="true" Label="Email" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>

                <div class="form-group d-flex justify-content-end">
                    <MatButton Type="submit" Raised="true">Update Profile</MatButton>
                </div>
            </div>
        </div>
    </fieldset>
</EditForm>

@code {
    List<UserViewModel> listUserViewModel = new List<UserViewModel>();
    UserViewModel userViewModel = new UserViewModel();

    protected override async Task OnInitializedAsync()
    {
        listUserViewModel = await client.GetFromJsonAsync<List<UserViewModel>>("api/Users/GetUsers");
        userViewModel = listUserViewModel.Where(u => u.UserName == MainLayout.LoggedinUser.UserName).First();
    }

    async Task OnSubmit()
    {
        HttpResponseMessage response = new HttpResponseMessage();
        if (userViewModel.UserName == listUserViewModel.Where(u => u.UserGuId == MainLayout.LoggedinUser.UserGuid).First().UserName)
        {
            response = await client.PostAsJsonAsync("api/Users/UpdateUserProfile?userViewModel=", userViewModel);
        }
        else
        {
            if (listUserViewModel.Where(u => u.UserName == userViewModel.UserName).FirstOrDefault() != null)
            {
                matToaster.Add("Username already exists. Please select another one.", MatToastType.Danger, "");
            }
            else
            {
                response = await client.PostAsJsonAsync("api/Users/UpdateUserProfile?userViewModel=", userViewModel);
            }
        }

        string message = await response.Content.ReadAsStringAsync();

        if (message == "User Profile updated successfully.")
            matToaster.Add(message, MatToastType.Success, "");
        else
            matToaster.Add(message, MatToastType.Danger, "");
    }
}
