﻿@page "/"
@page "/index.html"
<p>Welcome to CUnity</p>
@*<AuthorizeView>
        <Authorized>
            <h1>Hello @context.User.Identity.Name !!</h1>

            <p>Welcome to Blazor Learner</p>

            <SurveyPrompt Title="How is Blazor working for you?" />
        </Authorized>
        <Authorizing>
            <h1>Loading ...</h1>
        </Authorizing>
    </AuthorizeView>*@
