html, body {
    font-family: Roboto, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body {
    background-image: url("../images/bg-pattern.png");
    background-repeat: repeat;
}

app {
    position: relative;
    display: flex;
    /*flex-direction: column;*/
}

/** scroll bar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #e1e1e1;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(17,17,17,1) 0%,rgba(76,76,76,1) 23%,rgba(76,76,76,1) 23%,rgba(71,71,71,1) 72%,rgba(17,17,17,1) 99%);
}

/* material theme */
:root {
    /*--mdc-theme-primary: #5D2E8F;*/
    /*--mdc-theme-primary: #8EC440;*/
    --mdc-theme-primary: #f2f2f2;
    --mdc-theme-secondary: #fbaf41;
    /*--mdc-theme-on-primary: #495f90;
    --mdc-theme-on-secondary: #ffe172;*/
    --mdc-theme-text-primary: #ffffff;
    --mdc-theme-text-secondary: #333;
    --mdc-theme-text-on-primary: #001037;
    --mdc-theme-text-on-secondary: #c48003;
    /*--mdc-theme-surface: #263238; */
}

.mdc-icon-button .fa {
    font-size: 30px;
}

/* Loading page */
.triangle-container {
    left: calc(-50vw + 50%);
    position: fixed;
    right: calc(-50vw + 50%);
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #2a3f54;
}

/*.triangles {
    background-image: url("../images/bg-pattern.png");
    background-repeat: repeat;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-position: center center;
}*/

.loading-container {
    position: relative;
    text-align: center;
    background-color: #fff;
    margin: 10% auto 0 auto;
    padding: 20px;
}

/* Login page */
.login-body {
    position: relative;
}

.logo {
    text-align: center;
}

    .logo h4 {
        margin: 20px auto;
    }

.loading-container, .mdc-card {
    border-radius: 0 !important;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19) !important;
}

.login-container .mdc-card {
    padding: 40px 30px;
    width: 500px;
}

.login-container .mat-accordion {
    width: 500px;
}

.container-fluid .login-container {
    display: block;
    max-width: 500px;
}

.additional-info {
    color: #636c72;
    background-color: rgba(0,0,0,.04);
    padding: 10px 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: .875rem;
}

.login-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    align-content: center;
    margin: 5% auto 0;
}

.login-body {
    flex-direction: column;
    margin: 0 auto;
}

    .login-body .mat-accordion .mat-expansion-panel__header {
        flex-basis: 80%;
    }

    .login-body .mat-expansion-panel {
        background-color: #f4f4f4 !important;
    }


/* app bar */
.mdc-top-app-bar__row {
    background-color: #fff;
    color: #404040;
}

.mdc-top-app-bar__section .mdc-icon-button i {
    /* color: #f2f2f2;*/
    color: #1e1e1e;
}

.logo-img {
    height: 42px;
}

.mdc-top-app-bar {
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
    color: white;
    z-index: 7 !important;
    position: sticky !important;
    top: 0;
    border-bottom: 1px solid #cccccc;
}

.mdc-top-app-bar__title,
.mdc-top-app-bar__title a {
    color: white;
}


.sub-menu {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.hidden-mdc-down nav a {
    color: #E00;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

    .hidden-mdc-down nav a:hover {
        color: #F55;
    }

.hidden-mdc-down nav ul,
.hidden-mdc-down nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden-mdc-down nav > ul {
    background: #EEE;
    text-align: center;
}

    .hidden-mdc-down nav > ul > li {
        display: inline-block;
        border-left: solid 1px #aaa;
    }

        .hidden-mdc-down nav > ul > li:first-child {
            border-left: none;
        }

.sub-menu {
    background: #DDD;
}


/* page */
.container-fluid {
    min-height: 350px;
    padding: 20px 30px;
    background-color: white !important;
}

.page-footer {
    display: flex;
    flex: 0 0 auto;
    background: #fff;
    color: #4d4d4d;
    padding: 9px 12px 9px 18px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.21);
    margin-top: 30px;
    font-size: 12px;
}

.flex-1 {
    flex: 1;
}

/* Drawer */
.mdc-nav-li {
    list-style: none;
}

.mini .mdc-drawer,
.mini .app-sidebar {
    width: 54px;
    transition: width .4s ease-in-out;
}

    .mini .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
        margin-left: 54px;
        transition: margin-left .4s ease-in-out;
    }

.mini .drawer-profile {
    padding: 0 4px;
}

.mini .after.mdc-sub-menu-icon,
.mini .miniHover {
    transform: translateX(200%);
    animation: slide-out 1s forwards;
    transition: .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: fixed;
}

.mini .mdc-drawer:hover .after.mdc-sub-menu-icon,
.mini .mdc-drawer:hover .miniHover {
    transform: translateX(0%);
    animation: slide-in 1s forwards;
    transition: width .4s ease-in-out;
    visibility: visible;
    opacity: 1;
    position: relative;
}

.mini .mdc-drawer:hover .after.mdc-sub-menu-icon {
    position: absolute;
}

.mdc-sub-menu-icon {
    color: #1e1e1e !important;
}

.mini .drawer-footer .mdc-button {
    min-width: 36px;
}

.mdc-drawer:hover,
.mdc-drawer:hover .app-sidebar,
.full .mdc-drawer,
.full .app-sidebar {
    width: 256px;
    transition: width .4s ease-in-out;
}

.closed .mdc-drawer,
.closed .app-sidebar {
    width: 0;
    transition: width .4s ease-in-out;
}

.mini .mdc-drawer:hover.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content,
.full .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
    margin-left: 256px;
    transition: margin-left .4s ease-in-out;
}

.closed .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
    margin-left: 0;
    transition: margin-left .4s ease-in-out;
}

.mdc-drawer__content {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    /* background-image: linear-gradient(180deg, #f2f2f2 0%, #f2f2f2 100%);*/
    background: #2a3f54;
    color: #FFF;
}

.mdc-drawer .mdc-list-item {
    margin: 8px 0 !important;
    border-radius: 0 !important;
    /* color: #fff !important;*/
}

.mdc-drawer .mdc-list-item {
    color: #ffffff !important;
}

.mdc-drawere .mdc-list-item:active {
    box-shadow: inset 3px 0 0 #886ab5;
}

.mdc-drawer .mdc-list-item--disabled {
    /* color: #775e91 !important;*/
    color: #ffffff !important;
}

.mdc-drawer a.mdc-list-item {
    padding: 0 14px !important;
}

.mdc-drawer .mdc-list-item--selected {
    /*border-left: solid 3px rgba(255, 255, 255, .5);*/
    /* border-left: solid 3px #1e1e1e;*/
    background: #27debf;
    color: white;
}

    .mdc-drawer .mdc-list-item--selected::before {
        opacity: 0.3 !important;
    }

.mdc-expansion-panel--selected .mat-expansion-panel__summary {
    border-left: solid 3px rgba(255, 255, 255, .3);
}

    .mdc-expansion-panel--selected .mat-expansion-panel__summary::before {
        opacity: 0.2 !important;
    }

.mat-accordion .mdc-nav-menu .mat-expansion-panel.mat-expansion-panel--expanded {
    margin: 0;
}

.drawer-logo {
    background-color: #ffffff;
    height: 64px;
    border-bottom: 1px solid #cccccc;
    padding: 5px 10px 5px 2px;
    /*box-shadow: 0 0 10px #ccc;*/
    justify-content: center;
}

    /*.drawer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5D2E8F;
    height: 64px;
    color: #fff;
}*/

    .drawer-logo a {
        color: #fff;
    }

.drawer-header {
}

.drawer-profile {
    padding: 16px;
    border-bottom: solid 1px #777;
    background-image: url("../images/profile-bg.jpg");
    background-size: cover;
    color: #fff;
    font-size: 12px;
}

    .drawer-profile a,
    .drawer-profile .material-icons {
        color: #fff;
        vertical-align: text-bottom;
    }

.app-sidebar .material-icons {
    margin-right: 8px;
    padding-left: 7px;
}

.app-sidebar .mat-expansion-panel__content .material-icons {
    padding-left: 2px;
    margin-left: -3px;
}

.app-sidebar .mdc-nav-li .material-icons {
    margin-right: 8px;
    padding-left: 0;
}

.mdc-drawer {
    /*margin-top: 64px;*/
    box-shadow: 2px 0 5px 0 rgba(0,0,0,0.16);
}

.mdc-drawer-app-content {
    background-color: #f5f5f5;
}

.mat-drawer-container-responsive {
    display: flex;
    flex-direction: row;
}

    .mat-drawer-container-responsive .mdc-drawer {
        width: unset !important;
        position: relative;
    }

        .mat-drawer-container-responsive .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
            margin-left: unset !important;
            position: relative;
            flex: 1;
        }

.mdc-top-app-bar--fixed-adjust {
    padding-top: 0 !important;
    overflow: hidden;
}

.drawer-footer {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #AAA;
    font-size: 12px;
    padding: 0 12px 0 12px;
    background-color: lightgray
}

/*  forms */
fieldset {
    border: none;
}

hr {
    clear: both;
}

/* breadcrumbs */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb li + li:before {
        padding: 8px;
        content: "›";
    }

    ul.breadcrumb li,
    ul.breadcrumb li a {
        text-transform: uppercase;
        text-shadow: none;
        font-size: 13px;
        text-decoration: none;
        display: inline;
    }

        ul.breadcrumb li a:hover {
            text-decoration: underline;
        }

.mdc-checkbox + label {
    margin-bottom: 0px !important;
}


/** Simple drag and drop with Blazor CSS **/

.jobs-container {
    display: flex;
    justify-content: space-around;
}

.job-status {
    display: flex;
    flex-direction: column;
    width: 312px;
}

    .job-status ul {
        flex: 1;
    }

.dropzone {
    padding: 30px;
    border: 1px dashed #75868a;
    list-style: none;
}

/* dialog */
.mdc-dialog__content {
    min-width: 300px;
}

.mdc-dialog__title + .mdc-dialog__content {
    padding: 20px 24px !important;
}

.mdc-dialog__title {
    color: #fff !important;
    /*background: #f2f2f2;*/
    background: #2a3f54;
}

.mdc-dialog__actions {
    border-top: 1px solid #e1e1e1 !important;
}

.no-drop {
    border: 2px dashed red;
}

.can-drop {
    border: 2px dashed green;
}

.draggable {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #5c6b7f;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
}

    .draggable:active {
        cursor: grabbing;
    }

.dragging {
    cursor: grabbing;
}

.description {
    font-size: 18px;
}

.last-updated {
    margin-bottom: 0;
    font-size: 11px;
    color: #e1e5ea;
    font-weight: bold;
}

    .last-updated small {
        text-transform: uppercase;
        color: #c4cbd4;
        font-size: 11px;
    }

/* misc */
.contrib-card {
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .contrib-card img {
        height: 50px;
        width: 50px;
    }

.screenshot {
    text-align: center;
    display: block;
}

    .screenshot img {
        max-width: 100%;
    }

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui::before {
    margin: auto;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#blazor-error-ui {
    z-index: 9999;
    display: none;
    background: #fff;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19) !important;
}

/* W3C Overwrite */
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    background-color: #27debf !important;
    color: #ffffff!important;
}
.w3-button:hover {
    background-color: #2a3f54!important;
    color: #ffffff!important;
}

/* Custom Table Style */
.custom-table thead th {
    background: #2a3f54;
    color: #ffffff;
}

.custom-table tbody td {
    border: 1px solid #dee2e6;
}

.welcome-text {
    font-size:1.2rem;
    letter-spacing: 1px;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 596.98px) {
    .drawer-logo {
        height: 56px;
    }

    .logo-img {
        height: 38px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    .mdc-drawer, .app-sidebar {
        width: 54px !important;
        transform: translateX(0%);
        transition: width .4s ease-in-out;
    }

    .drawer-profile {
        padding: 0 4px;
    }

    .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
        margin-left: 54px !important;
        transition: margin-left .2s ease-in-out;
    }

    .mat-accordion .mdc-nav-menu .mat-expansion-panel__content {
        padding-left: 6px;
    }

    .full .mdc-drawer:hover .mat-accordion .mdc-nav-menu .mat-expansion-panel__content {
        padding-left: 13px;
    }

    .mdc-sub-menu-icon,
    .drawer-profile span,
    .miniHover,
    .brand {
        visibility: hidden;
        opacity: 0;
        position: fixed;
    }

    .mdc-drawer:hover,
    .mdc-drawer:hover .app-sidebar,
    .full .mdc-drawer,
    .full .app-sidebar {
        width: 256px !important;
        z-index: 99;
    }

        .full .drawer-profile span,
        .full .miniHover,
        .full .brand,
        .mdc-drawer:hover .drawer-profile span,
        .mdc-drawer:hover .miniHover,
        .mdc-drawer:hover .brand {
            visibility: visible;
            opacity: 1;
            position: relative;
        }

    .full .mdc-top-app-bar__section--align-end {
        display: none;
        transition: .4s ease-in-out;
    }

    .full .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
        margin-left: 256px !important;
        transition: margin-left .2s ease-in-out;
    }

    .closed .mdc-drawer,
    .closed .app-sidebar {
        width: 0 !important;
        transform: translateX(0%);
        transition: width .4s ease-in-out;
    }

        .closed .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
            margin-left: 0 !important;
            transition: margin-left .2s ease-in-out;
        }

    .drawer-footer {
        padding: 0;
    }

    .closed .mdc-drawer {
        transform: translateX(-100%);
        animation: slide-out 1s forwards;
        transition: .4s ease-in-out;
    }

    .login-container .mdc-card {
        padding: 20px;
        width: 300px;
    }

    .login-container .mat-accordion {
        width: 300px;
    }

    .loading-container {
        padding: 10px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}



/* MatBlazor temp */
.mat-toast-body {
    padding: 8px 5px;
}

.mat-toast-icon {
    padding-left: 5px;
}

.mat-toast-close-button .material-icons {
    color: white;
}

.mat-paginator {
    background: none;
}

/*Refresh Timer*/
div.refresh-timer.row {
    margin-left: 0;
    margin-right: 0;
    -moz-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

    div.refresh-timer.row div {
        -webkit-align-self: center;
        -o-align-self: center;
        align-self: center;
        margin-left: .2rem;
        margin-right: .2rem;
    }

div.refresh-timer-interval-wrapper {
    width: 100px;
}

.mdc-table-allow td:first-child {
    width: 100%;
}

.mdc-table th {
    white-space: nowrap;
}

/*TODO https://github.com/SamProf/MatBlazor/issues/467*/
.mdc-tab-scroller div {
    flex-wrap: wrap;
    max-width: 100%;
}


.btn-themecolor, .mdc-button.mdc-ripple-upgraded {
    background: #8ec43f;
    height: 2.5rem;
    width: auto;
    border-radius: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0.625rem;
    border: 0;
    padding: 0 1.25rem;
}

    .btn-themecolor:hover {
        color: #ffffff;
        background: #2a3f54;
    }

.secondbutton {
    margin-left: 10px;
}
/*.mdc-button__ripple {
    background: #1e1e1e !important;
    border-color: black !important;
}*/
.mdc-button__label {
    color: white !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #1e1e1e;
}

.mdc-drawer {
    border-style: none !important;
}
