﻿@inject NavigationManager navigationManager
<MatNavMenu Multi="true" Class="app-sidebar">
    @*<MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
            <MatIcon>home</MatIcon> <span class="miniHover">Home</span>
        </MatNavItem>*@

    @*<MatNavItem Href="@navigationManager.ToAbsoluteUri("developer").AbsoluteUri">
            <MatIcon>list_alt</MatIcon> <span class="miniHover">Developer</span>
        </MatNavItem>*@

    @*<MatNavSubMenu>
            <MatNavSubMenuHeader>
                <MatNavItem AllowSelection="false">
                    <MatIcon>stars</MatIcon><span class="miniHover">Features</span>
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="@navigationManager.ToAbsoluteUri("drag_and_drop").AbsoluteUri">
                    <MatIcon>touch_app</MatIcon> <span class="miniHover">@L["AppNavDragAndDrop"]</span>
                </MatNavItem>
            </MatNavSubMenuList>
        </MatNavSubMenu>*@
    @*<MatNavItem Href="@navigationManager.ToAbsoluteUri("mysubscription").AbsoluteUri" Disabled="@(!IsLoggedIn)">
            <MatIcon>bar_chart</MatIcon> <span class="miniHover">My Subscription</span>
        </MatNavItem>*@
    @*<MatNavItem Href="@navigationManager.ToAbsoluteUri("dashboard").AbsoluteUri" Disabled="@(!IsLoggedIn)">
            <MatIcon>bar_chart</MatIcon> <span class="miniHover">Dashboard</span>
        </MatNavItem>*@
    <MatNavItem Href="@navigationManager.ToAbsoluteUri("dashboard").AbsoluteUri" Disabled="@(!IsLoggedIn)">
        <MatIcon>bar_chart</MatIcon> <span class="miniHover">Dashboard</span>
    </MatNavItem>
    @if (IsLoggedIn)
    {
        <MatNavItem Href="@navigationManager.ToAbsoluteUri("changepassword").AbsoluteUri" Disabled="@(!IsLoggedIn)">
            <MatIcon>bar_chart</MatIcon> <span class="miniHover">Change Password</span>
        </MatNavItem>
    }
    @if (IsLoggedIn)
    {
        <MatNavItem Href="@navigationManager.ToAbsoluteUri("myprofile").AbsoluteUri" Disabled="@(!IsLoggedIn)">
            <MatIcon>bar_chart</MatIcon> <span class="miniHover">My Profile</span>
        </MatNavItem>
    }

    @foreach (var clientSubscription in ActiveSubscriptions)
    {
        i++;
        if (clientSubscription.SubscriptionStartDate.Date <= DateTime.Now.Date && clientSubscription.SubscriptionEndDate.Date >= DateTime.Now.Date)
        {
            if (i == 1)
            {
                <MatNavItem Href="@navigationManager.ToAbsoluteUri("fetchdata/" + clientSubscription.ProductName + "").AbsoluteUri" @onclick="HandleClick" Disabled="@false">
                    <MatIcon>bar_chart</MatIcon> <span class="miniHover">@clientSubscription.ProductName</span>
                </MatNavItem>
            }
            else
            {
                <MatNavItem Href="@navigationManager.ToAbsoluteUri("fetchdata/" + clientSubscription.ProductName + "").AbsoluteUri" Disabled="@false">
                    <MatIcon>bar_chart</MatIcon> <span class="miniHover">@clientSubscription.ProductName</span>
                </MatNavItem>
                i++;
            }
        }
        else
        {
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("mysubscription").AbsoluteUri" Disabled="@true">
                <MatIcon>bar_chart</MatIcon> <span class="miniHover">@clientSubscription.ProductName</span>
            </MatNavItem>
        }
    }

    @*@if ((!IsOpticsAccess))
        {
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("mysubscription").AbsoluteUri" Disabled="@(!IsOpticsAccess)">
                <MatIcon>bar_chart</MatIcon> <span class="miniHover">Optics</span>
            </MatNavItem>
        }
        else
        {
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("fetchdata/Optics").AbsoluteUri" ForceLoad="true" Disabled="@(!IsOpticsAccess)">
                <MatIcon>bar_chart</MatIcon> <span class="miniHover">Optics</span>
            </MatNavItem>
        }
        @if (!IsHouseHoldinAccess)
        {
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("mysubscription").AbsoluteUri" Disabled="@(!IsHouseHoldinAccess)">
                <MatIcon>bar_chart</MatIcon> <span class="miniHover">HouseHolding</span>
            </MatNavItem>
        }
        else
        {
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("mysubscription").AbsoluteUri" ForceLoad="true" Disabled="@(!IsHouseHoldinAccess)">
                <MatIcon>bar_chart</MatIcon> <span class="miniHover">HouseHolding</span>
            </MatNavItem>
        }
        @if (!IsCPMSAccess)
        {
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("fetchdata/CPMS").AbsoluteUri" Disabled="@(!IsCPMSAccess)">
                <MatIcon>bar_chart</MatIcon> <span class="miniHover">CPMS</span>
            </MatNavItem>
        }
        else
        {
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("fetchdata/CPMS").AbsoluteUri" ForceLoad="true" Disabled="@(!IsCPMSAccess)">
                <MatIcon>bar_chart</MatIcon> <span class="miniHover">CPMS</span>
            </MatNavItem>
        }*@

    @*<MatNavItem Href="@navigationManager.ToAbsoluteUri("forum").AbsoluteUri" Disabled="@(!IsLoggedIn)">
            <MatIcon>forum</MatIcon> <span class="miniHover">@L["AppNavForum"]</span>
        </MatNavItem>*@



    @*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="developer">
                        <span class="oi oi-people" aria-hidden="true"></span> Developers
                    </NavLink>
                </li>
            </ul>
        </div>*@
</MatNavMenu>
@code {
    public bool IsLoggedIn = false;
    //[Parameter] public bool IsOpticsAccess { get; set; }
    //[Parameter] public bool IsHouseHoldinAccess { get; set; }
    //[Parameter] public bool IsCPMSAccess { get; set; }
    [Parameter] public List<ClientSubscription> ActiveSubscriptions { get; set; }
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }
    private int i = 0;

    protected override async Task OnParametersSetAsync()
    {
        IsLoggedIn = false;
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            IsLoggedIn = true;
        }

        if (user.IsInRole(DefaultRoleNames.Administrator))
        {
            // Perform some action only available to users in the 'admin' role
            //Console.WriteLine(DefaultRoleNames.Administrator);
        }
    }

    private void HandleClick()
    {
        navigationManager.NavigateTo("fetchdata/Optics", true);
    }
}

